@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div a {
  padding: 8px 16px;
  transition: .3s;
}

div a:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  border-radius: 56px;
  color: #121212;
  background: #DAF40F;
  backdrop-filter: blur(10px); 
}

.hero-style {
  border-radius: 893px;
  background: rgba(255, 255, 255, 0.20);
  background-blend-mode: overlay;
  filter: blur(350px); 
}

.product-style {
  width: 893px;
  height: 893px;
  position: absolute;
  inset: 0;
  flex-shrink: 0; 
  border-radius: 893px;
  background: rgba(218, 244, 15, 0.20);
  background-blend-mode: overlay;
  filter: blur(350px); 
}
