@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.border-custom-green {
  border-color: #DAF40F; 
}

